# Taxonomic assignment: Downstream analyses

In [ ]:
pip install openpyxl

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from openpyxl.workbook import Workbook

/home/lubo/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# load dataset

def load_data(marker, cell, sim):
    # loading summary taxonomic assignment table into a dataframes
    raw_data="../raw_data"
    data_path=f"{raw_data}/OTU_summary_tables/otu_summary_table_{marker}_{cell}_{sim}.tsv"
    return pd.read_csv(data_path, sep="\t")

### Summary tables

In [96]:
datasets={"cellCombined_sim97": "",
          "cellCombined_sim99": ""}

#           "cell1_sim97": "", 
#           "cell1_sim99": "", 
#           "cell2_sim97": "", 
#           "cell2_sim99": "",


for dataset in datasets:
    cell, sim = dataset.split("_")
    datasets[dataset]=load_data("Full18S", cell, sim)

In [ ]:
# save as an excel table
otu_sim99.to_excel(f'ASV_summary_table_{marker}_{cell}_{sim}.xlsx')

In [95]:
samples=['A3', 'Mock', 'NH1', 'NH4', 'Sim17', 'Sim22', 'Th16', 'Th38',
       'Th40', 'X17007', 'Total']

# creating a dictonary with sample names where we will store abundance information for each sample
abundance = {}
for sample in samples:
    abundance[sample] = []

# loop through each dataset and calculate otu abundance for each sample
for dataset in datasets:
    for sample_name in samples:
        abundance[f'{sample_name}'].append(len(datasets[dataset][datasets[dataset][f'{sample_name}'] != 0]))
    
df = pd.DataFrame(data=abundance, index=datasets.keys())
df

,A3,Mock,NH1,NH4,Sim17,Sim22,Th16,Th38,Th40,X17007,Total
cellCombined_sim97,112,18,76,87,218,125,159,107,127,75,560
cellCombined_sim99,98,18,92,123,271,134,162,116,131,57,731

### Vampyrella specific data

In [ ]:
asv_data

In [ ]:
asv_data.info()

In [ ]:
# vampyrellida ASVs

vamp99 = otu_sim99[otu_sim99['Order'] == 'Vampyrellida']

vamp99[['ID', 'Total', 'A3', 'Mock', 'NH1', 'NH4', 'Sim17', 'Sim22', 'Th16',
   'Th38', 'Th40', 'X17007', 'Order', 'Family', 'Genus', 'Species', 
   'Percent_similarity']]

In [ ]:
vamp99[vamp99['Mock'] != 0]

## Raw reads